/* Reset some default styles */
body, h1, h3, p {
  margin: 0;
  padding: 0;
  color: #f2f2f2;
}

/* Basic layout styles */
body {
  background-color: #111;
  font-family: Arial, sans-serif;
}

header {
  background-color: #222;
  padding: 20px;
  display: flex;
  align-items: center;
}

/* Logo style */
.logo {
  flex: 1;
  text-align: right;
}

.logo img {
  width: 100px; /* Adjust the width to fit your logo size */
}

h1 {
  flex: 2;
  font-size: 36px;
  margin: 0;
}

/* Other header styles */
h3 {
  font-size: 24px;
  margin: 10px 0;
}

/* Paragraph style */
p {
  line-height: 1.6;
}

/* Dark mode styles */
body.dark-mode {
  background-color: #111;
  color: #f2f2f2;
}

header.dark-mode {
  background-color: #222;
}

nav.dark-mode {
  background-color: #333;
}

nav.dark-mode ul li a {
  color: #f2f2f2;
}

main.dark-mode {
  background-color: #111;
}

/* Light mode styles */
body.light-mode {
  background-color: #f2f2f2;
  color: #111;
}

header.light-mode {
  background-color: #f2f2f2;
}

nav.light-mode {
  background-color: #444;
}

nav.light-mode ul li a {
  color: #111;
}

main.light-mode {
  background-color: #f2f2f2;
}
